* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'DM Sans';
    font-style: normal;
    width: 1440px;
    height: 1080px;
}

.header-trai {
    width: 30%;
    float: left;
}

.header-trai ul li {
    display: inline-block;

}

.header-phai {
    width: 70%;
    float: right;
}

.header-phai ul li {
    display: inline-block;
    width: 70px;
    height: 10px;
    line-height: 64px;

}

.header-phai ul li a {
    text-decoration: none;
    color: black;

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .noi-dung {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .noi-dung .form {
    width: 50%;
}

section .noi-dung .form h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;

    display: inline-block;
    letter-spacing: 1px;
}

section .noi-dung .form .input-form {
    margin-bottom: 20px;
}

section .noi-dung .form .input-form span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
}

section .noi-dung .form .input-form input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 5px;
}

section .noi-dung .form .input-form input[type="submit"] {
    background: #000000;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

section .noi-dung .form .input-form input[type="submit"]:hover {
    background: #f53677;
}

section .noi-dung .form .nho-dang-nhap {
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

section .noi-dung .form .input-form p {
    color: #607d8b;
}

section .noi-dung .form .input-form p a {
    color: #000;
    text-decoration: none;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-left: 96px;
    margin-top: 52px;
    margin-bottom: 93px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container{
    margin:  auto;
    width: 1440px;
}
header{
    display: grid;
    grid-template-columns: 60fr 40fr;
    height: 122px;
    align-items: center;
    /* position: fixed;
    background-color: white;
    top: 0; */
}
.menu_icon{
    display: flex;
    

}
.nav_menu{
    display: flex;
}
ul li a{
    padding-left: 64px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    padding-left: 64px;
   
}
li a:hover{
    color: red;
}
ul li{
    list-style-type: none;
}
.icon img{
    padding-left: 40px;
        
}
h1{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    color: #000000;
    margin-top: 96px;
}
.login{
    display: flex;
}
.return p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}
.click-log a:hover{
    color: red;
}
.click-log a{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
}
.apply-coupon{
    border: 1px solid #D8D8D8;
    width: 580px;
    height: 181px;
}
.coupon-code{
    display: flex;
    justify-content: space-between;
}
.hr hr{
    width: 336px;
    
}
.apply-coupon p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
    padding-top: 24px;
}
.apply-coupon{
    margin-top: 21px;
    padding-left: 24px;
}
.coupon-code span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #707070;
}
.coupon-code {
    padding-top: 51px;
  
}
button{
    width: 168px;
    height: 53px;
    left: 484px;
    top: 504px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    color: aliceblue;
    margin-right: 24px;
}
button:hover{
    color: red;
}
.log-app{
    margin-left: 86px;
    margin-top: 64px;
}
.billing-oder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 88px;
}
.billing-details{
    border: solid 1px #ffffff;
}
.your-orders{
    background: #707070;
}
.billing-oder{
    margin-top: 48px;
}
/* .biling-item{
    margin-bottom: 39px;
} */
.biling-item h2{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #000000;
}
.oders-item{
    margin-bottom: 39px;


}
.oders-item h2{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    color: #000000;
}
.billing-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px ;
}
.f-name hr{
    width: 270px;
}
.l-name hr{
    width: 300px;
}
.f-name p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}
.l-name{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}
.billing p{
    padding-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}
.checkbox{
    margin-top: 36px;
}
.create{
    margin-bottom: 18px;
}
.your-orders{
    background: #EFEFEF;
}
.product-total{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.back-lui{
    padding: 32px;
}
.hr-pro{
    padding-top: 18px;
    padding-bottom: 18px;
}
.product p{
    padding-top: 26px;
    color: #707070;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.total span{
    color: #707070;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    
}
.p-den p{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
.span-den span{
    color: #000000;
    
}
.direct{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
.make p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #707070;
}
.footer-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    margin-left: 96px;
    margin-top: 52px;
    margin-bottom: 93px;
}
.menu-contact{
    display: flex;
}
.menu-contact p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
    
}
.p-lef{
    padding-left: 41px;
    padding-right: 41px;
}
.give-email{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}
.shelly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.shelly-span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
}
.shelly-mxh img{
    padding-left: 30px;
}
.hr-footer{
    margin-top: 253px;
    
}
.check-raido{
    margin-top: 61px;
}
.make p{
    margin-top: 19px;
}
.check{
    margin-top: 21px;
}
.place button{
    width: 462px;
    height: 53px;
    
}
.place{
    text-align: center;
    margin-top: 45px;
}
.shoppingcart{ 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bao{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sp1 img{
float: left;
}
.gia{
    color: #A18A68;
}
.mau{
    color: #707070;
}
.sp1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    margin:0;
}
.sp1{
    margin-top: 50px;
    margin-bottom: 20px;
}
.hai{
    padding-left: 50px;
    padding-top: 100px;
}
.nd2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 30px;
}
.ndhai{
    padding-left: 30px;
    padding-bottom: 20px;
}
#select{
    height: 50px;
    width: 250px;
    font-size: large;
}